smtp_address: smtp.gmail.com:587
smtp_username: email@gmail.com
smtp_password: "gmail_password_123"
login_url: https://sanjoseca.infinitecampus.org/campus/sanjose.jsp
mysql:
  host: localhost
  port: 3306
  user: gradenotify
  passwd: 123
  db: gradenotify